<%=include('header') %>
<h1><%=title %></h1>
<form method="post">
    <div class="form-item">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required />
    </div>

    <div class="form-item">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required />
    </div>

    <div class="form-item">
        <label for="message">Message:</label>
        <textarea name="message" id="message" required ></textarea>
    </div>

    <div class="form-item">
        <input type="submit" value="send" />
    </div>
</form>
<%=include('footer') %>
